[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-dotenv = "*"
django-allauth = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
whitenoise = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
python-decouple = "*"
mod-wsgi = "*"


[dev-packages]



[requires]

python_version = "3.6"
