{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Unleashing Custom User {% block title %} {% endblock %}</title>
</head>
<body>
	<h1>Unleashing Custom User</h1>
	<hr>

	{% if user.is_authenticated %}
		Welcome <a href="{% url 'account:detail' %}">{{ user.username }}</a>! | <a href="{% url 'logout' %}">Sign out</a>
	{% else %}
		<a href="{% url 'login' %}">Login</a>
		<a href="{% url 'account:sign-up' %}">Sign up</a> OR
		<a href="{% provider_login_url 'github' %}">Sign up with Github</a> OR
		<a href="{% provider_login_url 'google' %}">Sign up with Google</a> OR
		<a href="{% provider_login_url 'twitter' %}">Sign up with Twitter</a>
	{% endif %}

	<div>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>