{% extends 'master/base.html' %}
{% load socialaccount %}

{% block title %} - Login {% endblock %}

{% block login %}
	<div class="mdl-grid mdl-layout-center mdl-padding-large">
		<div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">Welcome</h2>
			</div>
			<div class="mdl-card__supporting-text">
				<form method="post">
					{% csrf_token %}
					{% for field in form %}
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-width-100">
							<input class="mdl-textfield__input" type="text" name="{{ field.html_name }}"
							       id="{{ field.id_for_label }}">
							<label class="mdl-textfield__label" for="{{ field.id_for_label }}">{{ field.label }}</label>
						</div>

						{% for error in field.errors %}
						<span class="mdl-typography--caption mdl-color-text--red-500">{{ error }}</span>
						{% endfor %}

						{% if field.help_text %}
						<p class="mdl-typography--body-1">{{ field.help_text|safe }}</p>
						{% endif %}

						{% if field.id_for_label == 'id_password' %}
						<div class="mdl-typography--text-right">
							<a style="text-decoration: none;" class="mdl-typography--caption mdl-color-text--primary"
							   href="{% url 'password_reset' %}">Forget password?</a>
						</div>
						{% endif %}

					{% endfor %}
					<div class="mdl-width-100 mdl-typography--text-center mdl-padding-normal mdl-padding-top-large">
						<button class="mdl-width-50 mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
						        type="submit">Login
						</button>
						<div class="mdl-padding-top-normal">
							<span>Do not have any account?</span>
							<a href="{% url 'account:sign-up' %}">Sign up!</a>
						</div>
					</div>
				</form>
			</div>
			<div class="mdl-card__actions mdl-card--border mdl-typography--text-center mdl-width-100">
				<p class="mdl-typography--subhead mdl-typography--title-color-contrast">OR</p>
				<div class="mdl-padding-normal">
					<button onclick="window.location.href='{% provider_login_url 'github' %}'"
					   class="mdl-button mdl-color-text--white mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--grey-900 mdl-js-ripple-effect">
						<i class="mdi mdi-github-circle"></i>
					</button>
					<button onclick="window.location.href='{% provider_login_url 'google' %}'"
					   class="mdl-button mdl-color-text--white mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--red-500 mdl-js-ripple-effect">
						<i class="mdi mdi-google"></i>
					</button>
					<button onclick="window.location.href='{% provider_login_url 'twitter' %}'"
					   class="mdl-button mdl-color-text--white mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--light-blue-500 mdl-js-ripple-effect">
						<i class="mdi mdi-twitter"></i>
					</button>
					<button onclick="window.location.href='{% provider_login_url 'facebook' %}'"
					   class="mdl-button mdl-color-text--white mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color--light-blue-900 mdl-js-ripple-effect">
						<i class="mdi mdi-facebook"></i>
					</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}