html, body {
    padding: 0;
    margin: 0;
}


.mdl-layout-center {
    justify-content: center;
}


.mdl-padding-normal {
    padding: 8px !important;
}

.mdl-padding-medium {
    padding: 16px !important;
}

.mdl-padding-large {
    padding: 32px !important;
}

.mdl-padding-xl {
    padding: 64px !important;
}

.mdl-padding-top-normal {
    padding-top: 8px !important;
}

.mdl-padding-top-medium {
    padding-top: 16px !important;
}

.mdl-padding-top-large {
    padding-top: 32px !important;
}

.mdl-padding-top-xl {
    padding-top: 64px !important;
}

.mdl-width-50 {
    width: 50% !important;
}

.mdl-width-100 {
    width: 100% !important;
}